*.iml
.gradle
/local.properties
/.idea/deploymentTargetSelector.xml
/.idea/deploymentTargetDropDown.xml
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/tetsoft/typego/Config.java
/app/src/main/res/values/application_ads.xml
/app/src/main/java/com/tetsoft/typego/Config.kt
/app/src/main/java/com/tetsoft/typego/core/Config.kt
